/* work sans fonts from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.common-button {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF42A5;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    text-transform: uppercase;
}

/* header styles */
/* menu bar styles */

nav {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.page-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 130px;
}

.page-logo img {
    width: 86.041px;
    height: 40px;
}

.page-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.g {
    color: #FF42A5;
}

.page-menus ul {
    display: flex;
    align-items: center;
}

.page-menus li {
    list-style: none;
    margin-right: 40px;
}

.follow-us-links {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.page-menus {
    margin-right: 50px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-like {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
}

.banner-texts p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    padding-bottom: 17px;
}

.banner-texts {
    text-align: left;
    background-image: url('images/Group 14.png');
}

.banner-button {
    display: flex;
    gap: 24px;
    padding-top: 40px;
}

.banner-uncommon-button {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    gap: 10px;
}


/* we are gamer section */
.we-are-gamer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 55px;
}

.we-are-gamer img {
    width: 700px;
    height: 400px;
    padding-left: 150px;
}

.gamer-title {
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
}

.gamer-para {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 28px;
}

.gamer-head-para {
    color: #534C64;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    padding-top: 24px;
}

.gamer-fat-font {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.gamer-texts {
    text-align: right;
    padding-right: 130px;
}

/* online games section */
.online-gamer-videos .video-img img {
    width: 305px;
    height: 350px;
    padding-bottom: 24px;
}

.online-gamer-videos .video-img p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 30px;
}

.no-download {
    margin-left: 20px;
}

.online-gamer-videos .video-img:hover {
    filter: brightness(40%);
    border-radius: 16px;
}

.online-gamer-videos {
    display: flex;
    gap: 20px;
    padding: 40px 100px;
}

.online-games {
    text-align: center;
    padding-top: 150px;
}

.online-gamer-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 10px;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.online-gamer-para {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* play games section */
.play-games {
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 120px;
}

.img-1 {
    width: 600px;
    height: 580px;
}

.img-2 {
    width: 250px;
    height: 280px;
    position: relative;
    margin: -190px 0 0 450px;
}

.play-games-img {
    padding-left: 120px;
}

.play-games-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-games-online {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-para {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}
.play-games-texts{
    padding-right: 120px;
}


/*/ responsive styles /*/
/* for mobile */
@media screen and (max-width: 576px) {

    /* for header section */
    /* for logo and menubar section */
    nav {
        flex-direction: column;
        justify-content: center;
        height: 400px;
    }

    .page-logo {
        padding: 20px 120px 20px 0;
    }

    .page-menus ul {
        flex-direction: column;
        gap: 20px;
        padding-left: 80px;
    }

    /* for banner section */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-img {
        width: 350px;
        height: 400px;
    }

    .banner-img img {
        width: 350px;
        height: 400px;
    }

    .banner-texts {
        width: 80%;
        margin: auto;
        background-color: fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
        padding-top: 50px;
    }

    .play-like {
        font-size: 30px;
    }

    .goat {
        font-size: 60px;
    }

    .banner-texts p {
        width: 200px;
        font-size: 15px;
        padding-left: 40px;
    }

    .common-button {
        width: 300px;
        border-radius: 48px;
        font-size: 15px;
        padding: 15px 20px;
        margin-top: -20px;
    }

    .banner-uncommon-button {
        width: 300px;
        border-radius: 48px;
        font-size: 15px;
        padding: 15px 20px;
        margin-top: -20px;
    }


    /*for we are gamer section */
    .we-are-gamer {
        flex-direction: column;
    }

    .we-are-gamer img {
        width: 400px;
        height: 250px;
        padding: 0px 5px;
    }

    .gamer-texts {
        padding: 0;
        text-align: center;
        padding-right: 5px;
        padding-left: 5px;
    }

    .gamer-title {
        font-size: 30px;
    }

    .gamer-para {
        font-size: 15px;
    }

    .common-button {
        width: 150px;
        border-radius: 48px;
        font-size: 15px;
        padding: 15px 20px;
        margin-top: -20px;
    }

    .gamer-head-para {
        font-size: 18px;
    }

    .gamer-fat-font {
        font-size: 20px;
    }



    /* for online games section */
    .online-gamer-videos {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .online-gamer-videos .video-img {
        padding-bottom: 10px;
    }

    .online-gamer-videos .video-img img {
        width: 350px;
        height: 400px;
    }

    .online-gamer-videos .video-img p {
        width: 100%;
        text-align: center;
        font-size: 15px;

    }

    .online-gamer-title {
        font-size: 30px;
    }

    .funny {
        font-size: 30px;
    }

    .online-gamer-para {
        font-size: 15px;
        padding-bottom: 70px;
    }

}